/* circle animation keyframs */
@-webkit-keyframes rotate {
    0% {
        -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
        background-color:red;
    }  
  13% {
        -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
  }
  25% {
      -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
  }
  38% {
      -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
  }
  50% {
      -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
  }
  63% {
      -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
  }
  75% {
      -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
  }
  88% {
      -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
  }
    100% {
        -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
    }
}
/* circle object */
#circle {
    height: 50px;
    width: 50px;
    border-radius:25px;
    background-color: teal;
    
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:"rotate";
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-name:"rotate";
    -moz-animation-iteration-count: infinite;
    
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-name:"rotate";
    animation-iteration-count: infinite;
    /*position:absolute;*/
    margin-left:200px;
    margin-top: 100px;
}
/* #button {
  width:130px;
  background:teal;
} */

/* moving dots transform/transitions */
/* dots */
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#big {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: red;
    position: absolute;
    margin-left:255px;
    margin-top: 155px;

    -webkit-tranision: opacity 2s;
    -moz-transition: opacity 2s;
    transition: opacity 2s;
    transition-timing-function: ease-in-out;
}

#box:hover #big {
    opacity: 0;
    -webkit-tranision: opacity 2s;
    -moz-transition: opacity 2s;
    transition: opacity 2s;
    transition-timing-function: ease-in-out;
}

#box {
    border: 1px solid black;
    height: 400px;
    width: 600px;
    margin-left: 100px;
    text-align: center;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0.5rem;
    box-shadow: 5px 5px 5px lightsteelblue;
}

.spot {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: blue;
    position: absolute;
    margin-left:285px;
    margin-top: 185px;

    -webkit-tranision: transform 3s;
    -moz-transition: transform 3s;
    transition: transform 3s;
}

/* this is for the return trip */
#box #dot4 {transition-delay: 0.4s;}
#box #dot6 {transition-delay: 0.2s;}
#box #dot7 {transition-delay: 0.6s;}
#box #dot8 {transition-delay: 0.3s;}
#box #dot9 {transition-delay: 0.7s;}
#box #dot10 {transition-delay: 0.1s;}
#box #dot11 {transition-delay: 0.5s;}

/* this section is for the hover event */
#box:hover #dot4 {
    -moz-transform: translate(293px,192px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.4s;

    -webkit-transform: translate(293px,192px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.4s;

    transform: translate(293px,192px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.4s;
}

#box:hover #dot5 {
    -moz-transform: translate(-285px,-184px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;

    -webkit-transform: translate(-285px,-184px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;

    transform: translate(-285px,-184px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
}

#box:hover #dot6 {
    -moz-transform: translate(294px,-185px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.2s;

    -webkit-transform: translate(294px,-185px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.2s;

    transform: translate(294px,-185px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.2s;
}

#box:hover #dot7 {
    -moz-transform: translate(-285px,195px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.6s;

    -webkit-transform: translate(-285px,195px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.6s;

    transform: translate(-285px,195px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.6s;
}

#box:hover #dot8 {
    -moz-transform: translate(293px,0);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.3s;

    -webkit-transform: translate(293px,0);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.3s;

    transform: translate(293px,0);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.3s;
}

#box:hover #dot9 {
    -moz-transform: translate(-284px,0);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.7s;

    -webkit-transform: translate(-284px,0);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.7s;

    transform: translate(-284px,0);
    transition-timing-function: ease-in-out;
    transition: transform 3s; 
    transition-delay: 0.7s;
}

#box:hover #dot10 {
    -moz-transform: translate(0,-184px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.1s;

    -webkit-transform: translate(0,-184px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.1s;

    transform: translate(0,-184px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.1s;
}

#box:hover #dot11 {
    -moz-transform: translate(0,194px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.5s;

    -webkit-transform: translate(0,194px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.5s;

    transform: translate(0,194px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.5s;
}

/* canvas */
/* .canvas {
    /* width: 400;
    height: 400; */
    /* position: absolute;
    background-color: transparent;
    border: 1px solid black; */
    /* transition-timing-function: linear; */
    
/*}

div {
    border: 1px solid black;
    background-color: transparent;
} */

/* @keyframes diagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(30px); }
    100%     { transform: translatex(60px) translatey(60px) }
}
@keyframes revdiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(-30px) translatey(-30px); }
    100%     { transform: translatex(-60px) translatey(-60px) }
}
@keyframes upRightDiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(-30px); }
    100%     { transform: translatex(60px) translatey(-60px) }
}
@keyframes downLeftDiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(-30px) translatey(30px); }
    100%     { transform: translatex(-60px) translatey(60px) }
}
@keyframes upRightDiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(-30px); }
    100%     { transform: translatex(60px) translatey(-60px) }
}
@keyframes moveRight {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(0px) }
    100%     { transform: translatex(60px) translatey(0px) }
}
@keyframes moveLeft {
    to      { transform: translatex(-60px) translatey(0px) }
}
@keyframes outLeft {
    to       { transform: translatex(0px) translatey(0px) }
}
@keyframes moveUp {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(0px) translatey(100px); }
    100%     { transform: translatex(0px) translatey(60px) }
}
@keyframes moveDown {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(0px) translatey(-30px); }
    100%     { transform: translatex(0px) translatey(-60px) }
} */