@-webkit-keyframes rotate {
    0% {
        -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
        background-color:red;
    }  
  13% {
        -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
  }
  25% {
      -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
  }
  38% {
      -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
  }
  50% {
      -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
  }
  63% {
      -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
  }
  75% {
      -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
  }
  88% {
      -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
  }
    100% {
        -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
    }
}
#circle {
    height: 50px;
    width: 50px;
    border-radius:25px;
    background-color: teal;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:"rotate";
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-name:"rotate";
    -moz-animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-name:"rotate";
    animation-iteration-count: infinite;
    position:absolute;
    left:50%;
    top:30%; 
}
#button {
  width:130px;
  background:teal;
}
/* still need some work on this one, but I think I'm getting it alittle better.  need to transform: translate(x,y) */
/* dots */
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#big {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: red;
    position: absolute;
    margin-left:255px;
    margin-top: 155px;

    -webkit-tranision: opacity 2s;
    -moz-transition: opacity 2s;
    transition: opacity 2s;
    transition-timing-function: ease-in-out;
}

#poop:hover #big {
    opacity: 0;
    -webkit-tranision: opacity 2s;
    -moz-transition: opacity 2s;
    transition: opacity 2s;
    transition-timing-function: ease-in-out;
}

#poop {
    border: 1px solid black;
    height: 400px;
    width: 600px;
    margin-left: 100px;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0.5rem;
    box-shadow: 5px 5px 5px lightsteelblue;
}

.spot {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: blue;
    position: absolute;
    margin-left:285px;
    margin-top: 185px;

    -webkit-tranision: transform 3s;
    -moz-transition: transform 3s;
    transition: transform 3s;
}

#poop #dot4 {transition-delay: 0.4s;}
#poop #dot6 {transition-delay: 0.2s;}
#poop #dot7 {transition-delay: 0.6s;}
#poop #dot8 {transition-delay: 0.3s;}
#poop #dot9 {transition-delay: 0.7s;}
#poop #dot10 {transition-delay: 0.1s;}
#poop #dot11 {transition-delay: 0.5s;}

#poop:hover #dot4 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: diagonal 3s; */
    transform: translate(293px,192px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.4s;
}

#poop:hover #dot5 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: revdiagonal 3s; */
    transform: translate(-285px,-184px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
}

#poop:hover #dot6 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: upRightDiagonal 3s; */
    transform: translate(294px,-185px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.2s;
}

#poop:hover #dot7 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: downLeftDiagonal 3s; */
    transform: translate(-285px,195px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.6s;
}

#poop:hover #dot8 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: moveRight 3s; */
    transform: translate(293px,0);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.3s;
}

#poop:hover #dot9 {
    /* -moz-transition: width 3s, height 3s, transform 3s;
    transition: width 3s, height 3s, transform 3s; */
    /* -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; */
    transform: translate(-284px,0);
    transition-timing-function: ease-in-out;
    transition: transform 3s; 
    /* animation: moveLeft 3s, 3s;*/
    transition-delay: 0.7s;
}

#poop:hover #dot10 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: moveUp 3s; */
    transform: translate(0,-184px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.1s;
}

#poop:hover #dot11 {
    /* transition: width 3s, height 3s, transform 3s;
    animation-timing-function: linear;
    animation: moveDown 3s; */
    transform: translate(0,194px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.5s;
}

/* canvas */
.canvas {
    /* width: 400;
    height: 400; */
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    /* transition-timing-function: linear; */
    
}

div {
    border: 1px solid black;
    background-color: transparent;
}

@keyframes diagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(30px); }
    100%     { transform: translatex(60px) translatey(60px) }
}
@keyframes revdiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(-30px) translatey(-30px); }
    100%     { transform: translatex(-60px) translatey(-60px) }
}
@keyframes upRightDiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(-30px); }
    100%     { transform: translatex(60px) translatey(-60px) }
}
@keyframes downLeftDiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(-30px) translatey(30px); }
    100%     { transform: translatex(-60px) translatey(60px) }
}
@keyframes upRightDiagonal {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(-30px); }
    100%     { transform: translatex(60px) translatey(-60px) }
}
@keyframes moveRight {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(30px) translatey(0px) }
    100%     { transform: translatex(60px) translatey(0px) }
}
@keyframes moveLeft {
    to      { transform: translatex(-60px) translatey(0px) }
}
@keyframes outLeft {
    to       { transform: translatex(0px) translatey(0px) }
}
@keyframes moveUp {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(0px) translatey(100px); }
    100%     { transform: translatex(0px) translatey(60px) }
}
@keyframes moveDown {
    0%       { transform: translatex(0px) translatey(0px) }
    50%      { transform: translatex(0px) translatey(-30px); }
    100%     { transform: translatex(0px) translatey(-60px) }
}