
/* circle object */
#circle {
    height: 50px;
    width: 50px;
    border-radius:25px;
    background-color: teal;
    
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:"rotate";
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-name:"rotate";
    -moz-animation-iteration-count: infinite;
    
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-name:"rotate";
    animation-iteration-count: infinite;
    /*position:absolute;*/
    margin-left:200px;
    margin-top: 100px;
}

/* circle animation keyframs */
@-webkit-keyframes rotate {
    0% {
        -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
        -moz-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
        transform: translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
        background-color:red;
    }  
        13% {
        -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
        -moz-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
        transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
    }
        25% {
        -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
        -moz-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
        transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
    }
        38% {
        -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
        -moz-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
        transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
    }
        50% {
        -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
        -moz-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
        transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
    }
        63% {
        -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
        -moz-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
        transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
    }
        75% {
        -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
        -moz-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
        transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
    }
        88% {
        -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
        -moz-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
        transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
    }
        100% {
        -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
        -moz-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
        transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
    }
}

/* moving dots - transform/transitions */

#big {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: red;
    position: absolute;
    margin-left:255px;
    margin-top: 155px;

    -webkit-tranision: opacity 2s;
    -moz-transition: opacity 2s;
    transition: opacity 2s;
    transition-timing-function: ease-in-out;
}

#box:hover #big {
    opacity: 0;
    -webkit-tranision: opacity 2s;
    -moz-transition: opacity 2s;
    transition: opacity 2s;
    transition-timing-function: ease-in-out;
}

#box {
    border: 1px solid black;
    height: 400px;
    width: 600px;
    margin-left: 100px;
    text-align: center;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0.5rem;
    box-shadow: 5px 5px 5px lightsteelblue;
}

.spot {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: blue;
    position: absolute;
    margin-left:285px;
    margin-top: 185px;

    -webkit-tranision: transform 3s;
    -moz-transition: transform 3s;
    transition: transform 3s;
}

/* this is for the return trip */
#box #dot4 {transition-delay: 0.4s;}
#box #dot6 {transition-delay: 0.2s;}
#box #dot7 {transition-delay: 0.6s;}
#box #dot8 {transition-delay: 0.3s;}
#box #dot9 {transition-delay: 0.7s;}
#box #dot10 {transition-delay: 0.1s;}
#box #dot11 {transition-delay: 0.5s;}

/* this section is for the hover event */
#box:hover #dot4 {
    -moz-transform: translate(293px,192px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.4s;

    -webkit-transform: translate(293px,192px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.4s;

    transform: translate(293px,192px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.4s;
}

#box:hover #dot5 {
    -moz-transform: translate(-285px,-184px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;

    -webkit-transform: translate(-285px,-184px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;

    transform: translate(-285px,-184px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
}

#box:hover #dot6 {
    -moz-transform: translate(294px,-185px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.2s;

    -webkit-transform: translate(294px,-185px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.2s;

    transform: translate(294px,-185px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.2s;
}

#box:hover #dot7 {
    -moz-transform: translate(-285px,195px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.6s;

    -webkit-transform: translate(-285px,195px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.6s;

    transform: translate(-285px,195px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.6s;
}

#box:hover #dot8 {
    -moz-transform: translate(293px,0);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.3s;

    -webkit-transform: translate(293px,0);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.3s;

    transform: translate(293px,0);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.3s;
}

#box:hover #dot9 {
    -moz-transform: translate(-284px,0);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.7s;

    -webkit-transform: translate(-284px,0);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.7s;

    transform: translate(-284px,0);
    transition-timing-function: ease-in-out;
    transition: transform 3s; 
    transition-delay: 0.7s;
}

#box:hover #dot10 {
    -moz-transform: translate(0,-184px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.1s;

    -webkit-transform: translate(0,-184px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.1s;

    transform: translate(0,-184px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.1s;
}

#box:hover #dot11 {
    -moz-transform: translate(0,194px);
    -moz-transition-timing-function: ease-in-out;
    -moz-transition: transform 3s;
    -moz-transition-delay: 0.5s;

    -webkit-transform: translate(0,194px);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: transform 3s;
    -webkit-transition-delay: 0.5s;

    transform: translate(0,194px);
    transition-timing-function: ease-in-out;
    transition: transform 3s;
    transition-delay: 0.5s;
}

/* rotation */
#rotation {
    margin-top: 20%;
}
.rotate {
    display: inline-block;
    background-color: #0074d9;
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    opacity: .7;
    font-family: Verdana, sans-serif;
    border: 3px solid rgba(0,0,0,.3); 
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .one { 
    transform: rotateX(40deg);
    animation: one 2s infinite;
    animation-direction: alternate;
  }
  
  .two {
    transform: rotateY(40deg);
    animation: two 2s infinite;
    animation-direction: alternate;
    background-color: #831a4a;
  }
  
  .three {
    transform: rotateZ(100deg);
    animation: three 2s infinite;
    animation-direction: alternate;
    background-color: #439772;
  }
  
  @keyframes one {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(60deg);
    }
  }
  
  @keyframes two {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(70deg);
    }
  }
  
  @keyframes three {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(100deg);
    }
  }